<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create a New Listing</h3>
    <form method="post" action="/listings">
    <input type="text" name="listing[title]" placeholder="Enter Your title">
    <br><br>
    <textarea type="text" name="listing[description]" placeholder="Enter Your Description"></textarea>
    <br><br>
<input type="text" name="listing[image]" placeholder="Enter Your Image/URL"> 
<br><br>
    <input type="number" name="listing[price]" placeholder="Enter Your Priece">
    <br><br>
    <input type="text" name="listing[location]" placeholder="Enter Your Location">
    <br><br>
    <input type="text" name="listing[country]" placeholder="Enter Your Country">
    <br><br>
    <button>Add</button>
</form>
    <hr>
</body>
</html>